---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="私について"
	description="このサイトについての自己紹介ページです"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		ここにあなたの自己紹介を書いてください。好きなこと、得意なこと、このブログを始めたきっかけなど、読者に伝えたいことを自由に記載してください。
	</p>

	<p>
		このサイトでは、日々の気づきや技術的なトピック、趣味に関する記事を発信していく予定です。どうぞよろしくお願いします。
	</p>

	<p>
		お問い合わせやご意見は、SNS のダイレクトメッセージ、または GitHub までお気軽にどうぞ。フィードバックはいつでも歓迎です。
	</p>
</Layout>
