---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 こんにちは、宇宙飛行士！</h1>
			<p>
				<a href="https://astro.build/">Astro</a> 公式ブログスターターテンプレートへようこそ。このテンプレートは、Astro を使ってパーソナルサイト、ブログ、またはポートフォリオを作りたい方のための、軽量でシンプルなスターターです。
			</p>
			<p>
				このテンプレートにはいくつかのインテグレーションが <code>astro.config.mjs</code> に設定されています。
				<a href="https://astro.build/integrations">Astro インテグレーション</a> を使って、Tailwind・React・Vue などのツールをプロジェクトに追加することができます。
			</p>
			<p>テンプレートを使い始めるためのヒント：</p>
			<ul>
				<li><code>src/pages/index.astro</code> でこのページを編集する</li>
				<li><code>src/components/Header.astro</code> でサイトヘッダーのリンクを編集する</li>
				<li><code>src/components/Footer.astro</code> のフッターにあなたの名前を追加する</li>
				<li><code>src/content/blog/</code> のサンプルブログ記事を確認する</li>
				<li><code>src/layouts/BlogPost.astro</code> でブログ記事のレイアウトをカスタマイズする</li>
			</ul>
			<p>
				楽しんでください！詰まったときは、<a href="https://docs.astro.build/">ドキュメントを設む</a>か、
				<a href="https://astro.build/chat">Discord に参加</a>して質問してみましょう。
			</p>
			<p>
				もう少し個性のあるブログテンプレートをお探しなら、<a href="https://twitter.com/Charca">Maxi Ferreira</a> による
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a> もチェックしてみてください。
			</p>
		</main>
		<Footer />
	</body>
</html>
